#mainwindow {
    background: #33313B;
}

#currentTime {
    color: #F6F5F5;
    font-size: 96pt;
    font-weight: bold;
}

#currentDayOfTheWeek {
    color: #33313B;
    background: #F6F5F5;
    border: 0px solid #33313B;
    border-radius: 5px;
    padding: 10px;
    font-size: 32px;
}

#currentDate {
    color: #F6F5F5;
    background: #33313B;
    font-size: 32px;
}